altgraph==0.17.3
contourpy==1.1.0
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.40.0
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
openpyxl==3.1.2
packaging==23.1
pefile==2023.2.7
Pillow==9.5.0
pyinstaller==5.12.0
pyinstaller-hooks-contrib==2023.3
pyparsing==3.0.9
python-dateutil==2.8.2
pywin32-ctypes==0.2.0
six==1.16.0
